<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/add-product.css">

</head>

<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a href="/shop">Shop</a></li>
                <li class="main-header_item"><a class="active" href="/admin/add-product">Add Product</a></li>
                <li class="main-header_item"><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="product-form" action="/admin/add-product" method="post">
            <div class="product-form_form-data">
                <div class="product-form_input-data">
                    <label for="queryName">Title: </label>
                    <input type="text" name="titleName" id="queryName">
                </div>
                <div class="product-form_input-data">
                    <label for="queryValue">Price: </label>
                    <input type="text" name="titleValue" id="queryValue">
                </div>
                <button type="submit">Add Product</button>
            </div>
        </form>
    </main>
</body>

</html>