main {
    padding: 1rem;
}

.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-form h1 {
    text-align: center;
}

.product-form_form-data label,
.product-form_form-data input {
    display: block;
    width: 100%;
}

.product-form_form-data input {
    font: inherit;
    border: 2px solid #e9ec5e;
    border-radius: 2px;
    margin-bottom: 1rem;
    padding: 5px;
}

#submit-form {
    text-align: center;
}

button {
    font: inherit;
    background-color: black;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 3px 6px;
}

button:hover,
button:active {
    background-color: #e9ec5e;
    color: #000;
    border: none;
}