#navbar {
  background-color: rgb(115, 93, 255);
}

.navbar-nav {
  margin: auto;
}

#nav-brand {
  background-color: whitesmoke;
  color: black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 15px;
  font-weight: 600;
  font-size: larger;
}
#nav-brand.active {
  background-color: #0d6efd;
  color: whitesmoke;
}

#expense-status {
  background-color: whitesmoke;
  color: black;
  border: none;
  font-weight: 600;
  font-size: larger;
  padding-right: 15px;
}
#expense-status:hover {
  background-color: #0d6efd;
  color: whitesmoke;
}

#rzp-button1 {
  background-color: whitesmoke;
  border: none;
  font-weight: 600;
  font-size: larger;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-right: 15px;
}
#rzp-button1:hover {
  background-color: #0d6efd;
  color: whitesmoke;
}

#add-expense {
  color: whitesmoke;
}

.my-form, .append-items {
  background-color: rgb(115, 93, 255);
  width: 70%;
  margin: auto;
  padding: 20px;
  border-radius: 8.285px;
  margin-top: 12px;
}

.form-floating {
  margin: 5px;
}

.append-items {
  color: whitesmoke;
}

#expense-data {
  background-color: blue;
}